@import "flowbite";

/* globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scan {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(100%); }
}

.scan-animation::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background: linear-gradient(to bottom, transparent, theme('colors.blue.500'), transparent);
  animation: scan 3s ease-in-out infinite;
}